CLIENT_ID=xxxxxx-xxxx-xxxx-xxxx-xxxxxx
CLIENT_SECRET=xxxxxx-xxxx-xxxx-xxxx-xxxxxx
SUBSCRIPTION_ID=xxxxxx-xxxx-xxxx-xxxx-xxxxxx
TENANT_ID=xxxxxx-xxxx-xxxx-xxxx-xxxxxx
AD_ADMIN_USERNAME=xxxxxx-xxxx-xxxx-xxxx-xxxxxx
AD_ADMIN_PASSWORD=xxxxxx-xxxx-xxxx-xxxx-xxxxxx
